* {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;

}
body{
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;

}
button {
                    background-color: grey;
                    border-radius: 20px;
                    font-size: 20px;
                    padding: 16px;
}